<a href="https://colab.research.google.com/github/SurajLahariya/DS_learning/blob/main/Assignment_16_(_Neural_Network_)_Forest_Fires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [2]:
url = 'https://raw.githubusercontent.com/SurajLahariya/DS_learning/main/forestfires.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [5]:
y = [0  if i == 'small' else 1 for i in df.size_category ]

In [6]:
y=np.array(y)

In [7]:
df=df.drop(['month', 'day'], axis=1)

In [8]:
#array= df.values
x= df.iloc[:,:-1]

In [9]:
x=np.array(x)

In [10]:
x = x.reshape((517, 28))

In [11]:
from sklearn.preprocessing import MinMaxScaler
scallar= MinMaxScaler()
X=scallar.fit_transform(x)

In [12]:
x

array([[ 86.2,  26.2,  94.3, ...,   0. ,   0. ,   0. ],
       [ 90.6,  35.4, 669.1, ...,   0. ,   1. ,   0. ],
       [ 90.6,  43.7, 686.9, ...,   0. ,   1. ,   0. ],
       ...,
       [ 81.6,  56.7, 665.6, ...,   0. ,   0. ,   0. ],
       [ 94.4, 146. , 614.7, ...,   0. ,   0. ,   0. ],
       [ 79.5,   3. , 106.7, ...,   1. ,   0. ,   0. ]])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [14]:
X_train.shape, X_test.shape

((361, 28), (156, 28))

In [15]:
pd.Series(y).value_counts()

0    378
1    139
dtype: int64

###define the keras model

In [16]:
model = Sequential()
model.add(Dense(12, input_dim=28, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [17]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# fit the keras model on the dataset
model.fit(X_train, y_train,validation_split=0.33,epochs=150, batch_size=10,verbose=0 )

In [19]:
# evaluate the keras model
_, accuracy = model.evaluate(X_train, y_train)
print('Accuracy: %.2f' % (accuracy*100))

12/12 [==============================] - 0s 2ms/step - loss: 0.0426 - accuracy: 0.9917
Accuracy: 99.17

In [20]:
# evaluate the keras model for test data set
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

5/5 [==============================] - 0s 3ms/step - loss: 0.1079 - accuracy: 0.9551
Accuracy: 95.51